@model ExpensePlanner.Models.Dtos.RegisterUserDto

<h1>Register</h1>

@using (Html.BeginForm("RegisterUser", "Account1", FormMethod.Post))
{
	@Html.ValidationSummary()

	<span>Login: </span> @Html.TextBoxFor(a => a.Login)	
	<span>Password: </span> @Html.PasswordFor(a => a.Password)	
	<span>ConfirmPassword: </span> @Html.PasswordFor(a => a.ConfirmPassword)	

	<button type="submit">Register</button>
}