@model ExpensePlanner.Models.Login

<h1>Login</h1>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
	@Html.ValidationSummary()
	

	<span>Login: </span> @Html.TextBoxFor(a => a.UserName)	
	<span>Password: </span> @Html.PasswordFor(a => a.Password)
	

	<button type="submit">Login</button>
}